# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
.env
.env.development

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Integrated development environnements
.idea
*.sublime-*

# Hardhat
cache

.vscode

src/typechain

# We use Yarn - prevent this file from being committed to avoid confusion